a {
  text-decoration: none;
}

/* css halaman header */
.header {
  background-image: url("./images/header.jpg");
  color: whitesmoke;
}

/* css halaman navigation */
.navigation {
  display: flex;
  justify-content: center;
  background-color: aqua;
}

.navigation a {
  margin-right: 3rem;
  margin-top: 0.5rem;
  font-size: 18px;
  font-weight: bold;
  color: black;
}

.navigation a:hover {
  color: blue;
  text-decoration: underline;
}

/* css halaman sidebar */
.sidebar {
  background-color: rgb(231, 229, 229);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25rem;
}

.col {
  margin: 1rem;
  text-decoration: none;
  color: black;
  font-weight: bold;
}
